<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyConnectionString"
         connectionString="Data Source=DESKTOP-GVP20AA\SQLEXPRESS;Initial Catalog=AileAnilariEF;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="gmailMail" value="hcan.toprak06@gmail.com" />
    <add key="gmailSifre" value="empy ylzm lpdq crgs" />
  </appSettings>
</configuration>
